.Toolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(107, 172, 192);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.Toolbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Toolbar li {
  display: inline-block;
  margin: 20px;
}

.Toolbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.Toolbar a:hover {
  color: rgb(63, 60, 60);
}

.Logo {
  height: 100%;
}
